.hero {
  height: 80vh;
  position: relative;
}

.hero > img:first-of-type {
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.hero > img:last-of-type {
  position: absolute;
  z-index: -100;
  width: 164px;
  right: 18px;
  bottom: 44px;
}

.hero .hero-content {
  width: 50%;
  padding-top: 44px;
  padding-left: 48px;
}

.hero .hero-content h1 {
  font-size: 64px;
}
.hero .hero-content p:first-of-type {
  font-size: 34px;
}
.hero .hero-content p:last-of-type {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  margin-top: 12px;
}
.hero .hero-content .cta-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
}
.hero .hero-content .cta-buttons a:first-of-type {
  padding: 12px 24px;
  background-color: #088e48;
  border: none;
  border-radius: 12px;
}
.hero .hero-content .cta-buttons a:last-of-type {
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-section .left,
.white-section .right {
  width: 50%;
}

.white-section .left {
  text-align: center;
}

.white-section .left img {
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.white-section .right h1 {
  margin-top: 12px;
  width: 80%;
}
.white-section .right p {
  font-size: 18px;
  color: #6a7282;
  width: 80%;
  font-family: "Roboto", sans-serif;
  margin-top: 18px;
}
.hero .hero-content .cta-buttons a:first-of-type {
  padding: 12px 24px;
  background-color: #088e48;
  border: none;
  border-radius: 12px;
}

.white-section a {
  padding: 12px 24px;
  background-color: #088e48;
  border: none;
  border-radius: 12px;
  width: 20%;
  margin-top: 24px;
}

.green-section {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("/assets/images/greenbg1.svg");
  padding: 100px 24px;
}

.green-section .green-section-content {
  width: 45%;
  font-size: 18px;
}
.green-section .flex {
  gap: 30px;
  padding: 80px 60px;
}

.white-section-2 {
  padding: 40px 44px;
}

.white-section-2 .white-section-2-content {
  display: flex;
}

.white-section-2 .left, .white-section-2 .right {
  width: 50%;
}

.white-section-2 .left {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 50px;
}
.white-section-2 .left p {
  width: 88%;
  margin-top: 12px;
}

.white-section-2 .right{
  position: relative;
  right: 0;
}

.card-list{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 40px;
  gap: 32px;
}

.card {
  width: 400px;
  height: auto;
  background-color: white;
  color: black;
  text-align: left;
  border: none;
  border-radius: 12px;
}

.card > img{
  width: 100%;
  height: 70%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.card .dateAndDay{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.card a{
  padding: 12px 24px;
  background-color: #088e48;
  border: none;
  border-radius: 12px;
  width: 40%;
  margin: 24px 20px;
}

.card h1{
  font-size: 16px;
  margin-top: 24px;
}

.card p{
  font-size: 14px;
  color: #6A7282;
  margin-top: 4px;
}

.dateAndDay, .card h1, .card p, .card .participants{
  padding: 0 20px;
}

.dateAndDay .from{
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.participants{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.participants .left{
  display: flex;
  align-items: center;
}

.participants .left img{
  height: 60%;
}

.participants .left .participantName{
  display: flex;
  flex-direction: column;
  gap: 0.4px;
  margin-left: 8px;
}

.gray-section{
  background-color: #F6F6F6;
  color: #041502;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 30px 110px;
}

.gray-section div{
  width: 20%;
}

.gray-section h1, .gray-section h3{
  margin-top: 16px;
}

.gray-section p{
  color: #6A7282;
  margin-top: 8px;
}

.gray-section-card{
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: 24px;
}