@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply m-0 p-0 box-border font-['Open_Sans'] scroll-smooth cursor-default;
  }

  a {
    @apply text-white no-underline flex items-center justify-center gap-[3px];
  }

  a:active {
    @apply text-white/90;
  }

  a,
  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-[40px];
  }
}
