@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  cursor: default;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

a:active {
  color: whitesmoke;
}

a,
button {
  cursor: pointer;
}

.green {
  color: #088e48;
}

.white {
  color: white;
}

h1 {
  font-size: 40px;
}

.bold {
  font-weight: 500;
}

.white-section {
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  padding: 45px 60px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outlined-text {
  /* Sets the inner color of the text to transparent (hollow) */
  -webkit-text-fill-color: transparent;

  /* Applies a 2-pixel black stroke/outline */
  -webkit-text-stroke: 1px white;

  /* Standard property fallback (though not fully supported for fill/stroke effect) */
  color: white;
  font-family: "Open Sans", sans-serif;

  /* Ensure a decent font size for the effect to be visible */
  font-size: 48px;
  font-weight: 800;
}
.outlined-text-black-offset {
  /* Sets the inner color of the text to transparent (hollow) */
  -webkit-text-fill-color: transparent;

  /* Applies a 2-pixel black stroke/outline */
  -webkit-text-stroke: 1px black;

  /* Standard property fallback (though not fully supported for fill/stroke effect) */
  color: white;
  font-family: "Open Sans", sans-serif;

  /* Ensure a decent font size for the effect to be visible */
  font-size: 24px;
  font-weight: 800;
}
